.xxsmall{
    font-size: xx-small;
}
.xsmall{
    font-size: x-small;
}
.smaller{
    font-size: smaller;
}
.small{
    font-size: small;
}
.medium{
    font-size: medium;
}
.large{
    font-size: large;
}
.xlarge{
    font-size: x-large;
}
.xxlarge{
    font-size: xx-large;
}