.one {
    width: 300px;
    height: 150px;
    padding: 50px;
    position: absolute;
    background-color: #32CD32;
}

.two {
    margin-top: 300px;
    margin-left: 100px;
    width: 300px;
    height: 150px;
    padding: 50px;
    position: absolute;
    background-color: #32CD32;
    transform: skew(30deg);
}
