body {
    width: 80%;
    margin: auto;
}

.one {
    width: 200px;
    height: 100px;
    padding: 50px;
    background-color: #32CD32;
    color: wheat;
    transform: scale(0.7, 0.7);
}

.two {
    margin-top: 30px;
    width: 200px;
    height: 100px;
    padding: 50px;
    background-color: #32CD32;
    color: wheat;
    transform: scale(1.5, 1.5);
}
