body {
    width: 80%;
    margin: auto;
}

#mybox1 {
    margin-top: 200px;
    width: 250px;
    height: 100px;
    color: white;
    background-color: green;
    transform: translateX(29px)
    translateY(5em)
    translateZ(-13px);
}

