.one {
    margin: 4px;
    float: left;
    width: 300px;
    height: 100px;
    margin: 4px;
    color: #FFF;
    background: -webkit-linear-gradient(left, blue, yellow, green);
}

.two {
    margin: 4px;
    float: left;
    width: 300px;
    height: 100px;
    margin: 4px;
    color: #FFF;
    background: -webkit-linear-gradient(bottom, blue, yellow, green);
}
