p {
    background-image: url("http://www.sololearn.com/uploads/css_logo.png");
    background-color: whitesmoke;
    font-size: 50px;
    font-weight: 900;
    width: 500px;
    height: 500px;
}
